:root{
    --header-height: 6.5rem;
    
      /*========== Colors ==========*/
      /*Color mode HSL(hue, saturation, lightness)*/
      --main-white: #ffffff;
      --main-red: #ff1500;
      --main-black: #000000;
      --main-grey: #171717;
      --main-yellow:#ffd321;
    
      /*========== Font and typography ==========*/
      /*.5rem = 8px | 1rem = 16px ...*/
      --body-font: 'VT323', monospace;
      --normal-font-size: .938rem;
    
      /*========== Font weight ==========*/
      --font-regular: 100;
      --font-semi-bold: 300;
    
      /*========== z index ==========*/
      --z-tooltip: 10;
      --z-fixed: 100;
    }
    
    /*========== Responsive typography ==========*/
    @media screen and (min-width: 1024px) {
      :root {
        --normal-font-size: 1rem;
      }
    }
      * {
        margin: 0;
        padding: 0;
      }
      
      /* box-sizing and font sizing */
      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }
      
      html {
        box-sizing: border-box;
      
        /* Set font size for easy rem calculations
         * default document font size = 16px, 1rem = 16px, 100% = 16px
         * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
        */
        font-size: 62.5%;
        scroll-behavior: smooth;
       
      }
      
      /* I am using the em unit for breakpoints
       * The calculation is the following
       * screen size divided by browser base font size
       * As an example: a breakpoint at 980px
       * 980px / 16px = 61.25em
      */
      
      /* 1200px / 16px = 75em */
      @media (max-width: 75em) {
        html {
          font-size: 60%;
        }
      }
      
      /* 980px / 16px = 61.25em */
      @media (max-width: 61.25em) {
        html {
          font-size: 58%;
        }
        p{
          font-size: 90%;
        }
      }
      
      /* 460px / 16px = 28.75em */
      @media (max-width: 28.75em) {
        html {
          font-size: 50%;
        }
        p{
          font-size: 80%;
          line-height: 110%;
        }
      }
      /* 263px / 16px = 16.43em */
      @media (max-width: 16.43em) {
        html {
          font-size: 45%;
        }
      }
    /* Base styles */
      
    body {
      font-family: 'VT323', monospace;
        font-size: 3.0rem; /* 30px */
        font-weight: 400;
        line-height: 1.4;
        color: var(--main-white);
        background-color: var(--main-black);
      }
      .true-body{
        margin-inline: auto;
        margin: 0 auto;
        margin-top: 100px;
      }
      h1,
      h2 {
        font-family: 'VT323', monospace;
        font-weight: 700;
        text-align: center;
      }
      
      h1 {
        font-size: 4.8rem;
      }
      
      h2 {
        font-size: 4.0rem;
      }
      
      ul {
        list-style: none;
      }
      #twitch{
        color: var(--main-white);
        border: #ff1500, 1px, solid;
      }
      a {
        text-decoration: none;
        color: var(--main-white);
      }
      a:hover{
        color: var(--main-yellow);
      }
      img {
        display: block;
        width: 100%;
      }
      /*nav bar*/
      /*=============== REUSABLE CSS CLASSES ===============*/
    .container {
      max-width: 1120px;
      margin-inline: 1.5rem;
    }
    
    /*=============== HEADER ===============*/
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: var(--main-black);
      box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
      z-index: var(--z-fixed);
    }
    
    /*=============== NAV ===============*/
    
    
    .nav__logo, 
    .nav__burger, 
    .nav__close {
      color: var(--main-white);
    }
    
    .nav__data {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .nav__logo {
      display: inline-flex;
      align-items: center;
      column-gap: .25rem;
      font-weight: var(--font-semi-bold);
      /* Color highlighting when pressed on mobile devices */
      /*-webkit-tap-highlight-color: transparent;*/
    }
    
    .nav__logo img {
      Max-width:141px;
    }
    
    .nav__toggle {
      position: relative;
      width: 50px;
      height: 50px;
    }
    
    .nav__burger, 
    .nav__close {
      position: absolute;
      width: max-content;
      height: max-content;
      inset: 0;
      margin: auto;
      cursor: pointer;
      transition: opacity .1s, transform .4s;
    }
    
    .nav__close {
      opacity: 0;
    }
    
    /* Navigation for mobile devices */
    @media screen and (max-width: 1118px) {
      .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
      }
      .nav__menu::-webkit-scrollbar {
        width: 0;
      }
      .nav__list {
        background-color: var(--main-black);
        padding-top: 1rem;
        
      }
    }
    
    .nav__link {
      color: var(--main-white);
      background-color: var(--main-black);
      font-weight: var(--font-semi-bold);
      padding: 1.25rem 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color .3s;
    }
    
    .nav__link:hover {
      background-color: var(--main-grey);
    }
    
    /* Show menu */
    .show-menu {
      opacity: 1;
      top: 10rem;
      pointer-events: initial;
    }
    
    /* Show icon */
    .show-icon .nav__burger {
      opacity: 0;
      transform: rotate(90deg);
    }
    .show-icon .nav__close {
      opacity: 1;
      transform: rotate(90deg);
    }
    
    /*=============== DROPDOWN ===============*/
    .dropdown__item {
      cursor: pointer;
    }
    
    .dropdown__arrow {
      font-size: 1.25rem;
      font-weight: initial;
      transition: transform .4s;
    }
    
    .dropdown__link, 
    .dropdown__sublink {
      padding: 1.25rem 1.25rem 1.25rem 2.5rem;
      color: var(--main-white);
      background-color: var(--main-black);
      display: flex;
      align-items: center;
      column-gap: .5rem;
      font-weight: var(--font-semi-bold);
      transition: background-color .3s;
      
    }
    
    .dropdown__link i, 
    .dropdown__sublink i {
      font-size: 1.25rem;
      font-weight: initial;
    }
    
    .dropdown__link:hover, 
    .dropdown__sublink:hover {
      background-color: #171717;
    }
    
    .dropdown__menu, 
    .dropdown__submenu {
      max-height: 0;
      overflow: hidden;
      transition: max-height .4s ease-out;
    }
    
    /* Show dropdown menu & submenu */
    .dropdown__item:hover .dropdown__menu, 
    .dropdown__subitem:hover > .dropdown__submenu {
      max-height: 1000px;
      transition: max-height .4s ease-in;
      
    }
    
    /* Rotate dropdown icon */
    .dropdown__item:hover .dropdown__arrow {
      transform: rotate(180deg);
    }
    .twitch{
      color:var(--main-red);
      font-weight: bolder;
    }
    
    /*=============== DROPDOWN SUBMENU ===============*/
    .dropdown__add {
      margin-left: auto;
    }
    
    .dropdown__sublink {
      background-color: var(--main-black);
    }
    
    /*=============== BREAKPOINTS ===============*/
    /* For small devices */
    @media screen and (max-width: 340px) {
      .container {
        margin-inline: 1rem;
      }
    
      .nav__link {
        padding-inline: 1rem;
      }
    }
    
    /* For large devices */
    @media screen and (min-width: 1118px) {
      .container {
        margin-inline: auto;
      }
    
      .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
      }
      .nav__toggle {
        display: none;
      }
      .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
      }
      .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
      }
      .nav__link:hover {
        background-color: transparent;
      }
    
      .dropdown__item, 
      .dropdown__subitem {
        position: relative;
      }
    
      .dropdown__menu, 
      .dropdown__submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
      }
    
      .dropdown__link, 
      .dropdown__sublink {
        padding-inline: 1rem 3.5rem;
      }
    
      .dropdown__subitem .dropdown__link {
        padding-inline: 1rem;
      }
    
      .dropdown__submenu {
        position: absolute;
        left: 100%;
        top: .5rem;
      }
    
      /* Show dropdown menu */
      .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 8.5rem;
        pointer-events: initial;
        transition: top .3s;
      }
    
      /* Show dropdown submenu */
      .dropdown__subitem:hover > .dropdown__submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top .3s;
      }
    }
    /*End of NAV*/
  /*-------------HERO BANNER---------------*/  
.hero-banner{
  background-image:url("images/Hero banner ugs.png");
  background-size: cover;
  background-position: center;
}
.hero-container{
color: #fff;
width: 100%;
max-height: 800px;
}
.droian-logo-container{
min-height:126px;
max-width:1200px;
margin: 0 auto;
padding: 10px 20px;
}
.hero-subtext{
min-height:100px;
max-width:1200px;
display:flex;
flex-direction:column;
text-align: center;
margin: 0 auto;
padding: 0 10px;
}
.devbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.devbtn {
  background: var(--main-red);
  width: 400px;
  min-height: 80px;
}

@media (max-width:420px){
  .devbtn{
    width: 300px;
  }
}
.devtext {
  color: #000000;
  text-align: center;
  font-size: 40px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  width: 100%; /* Make the text span the full width of the button */
}
/*-------------END HERO BANNER---------------*/  
.our-journey{
  background-color: var(--main-white);
  color: var(--main-black);
  max-width: 80%;
  margin: 30px auto;
  border-radius: 8px;
}
.journey-text{
  text-align: center;
  padding: 10px 20px;
  line-height: normal;
}

/*-------------TEAM---------------*/ 
.Team-cards{
  max-width: 80%;
  margin: 0 auto;
}
.title-team{
  text-align: center;
  line-height: normal;
}
.title-team h1{
  color: var(--main-yellow);
}
.pictures {
  grid-column-gap: 48px;
  display: flex;
  margin-top: 30px; /* Spacing between title and content */
  flex-wrap: wrap;
  min-height: 500px;
}
.name-team {
  font-family: 'VT323', monospace;
  font-size: 40px;
  color: var(--main-yellow);
}
.info {
  text-align: center; /* Center text within the .info element */
}
.card{
  flex:1;
}
.image-wrapper-2{
  max-width: 272px;
  margin: 0 auto;
}
.image-wrapper-2:hover{
  max-width: 300px;
  filter: drop-shadow(-5px -5px 10px var(--main-yellow));
}
@media (max-width:800px){
  .pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:368px){
  .pictures{
    display: grid;
    grid-template-columns: 1fr;
  }
}
/*---------------PLAYLISTS--------*/
.playlist-title{
  margin: 20px 0;
  color: var(--main-yellow);
}
/*--------Twitch embed-----------*/
.twitch-frame{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
/*----------END OF TWITCH-------*/
.playlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center playlists horizontally */
  min-height: auto;
}

.playlist-subdiv{
  display: flex;
  flex-direction: row;
  gap: 30px; /* Spacing between playlists */
}

@media (max-width:980px ){
  .playlist-subdiv{
    flex-direction: column;
  }
}

.Playlist-embed-left, .Playlist-embed-centre, .Playlist-embed-right{
  display: flex;
  max-width: 356px;
  min-height: 225px;

}

/*----------FOCUS ON THE GAME -------------*/
.focus-container{
  max-width: 666px;
  margin: 0 auto;
}
/*--------------GAME CARDS---------*/
.Game-cards-container{
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(209, 163, 23, 0.164)),url("images/Curved white lines on black.jpg");
  padding: 20px 0;
}
.all-games-wrapper{
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap:40px;
}
.ind-game-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.game-img-container{
  min-height: 100px;
  max-width: 500px;
}
.game-info-container{
  flex: 1;
  padding: 0 10px;
}
.Game-title{
  text-align: left;
  color: var(--main-yellow);
}
.Game-status{
  text-decoration: underline;
}
.game-btn-wrapper{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}
.Game-buttons{
  border-style: solid;
  padding: 5px;
}
.Game-buttons:hover{
  color: var(--main-yellow);
}
@media(max-width:944px){
  .ind-game-card-container{
    flex-direction: column;
  }
}
#Donations{
  background-color: var(--main-white);
  margin: 0 auto;
  min-height: 90px;
}
.Donations-wrapper{
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.Donations-title-wrapper{
  color: var(--main-black);
}
.donation-logo-wrapper{
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  min-height: 90px;
}
.logo-2{
  max-width: 175px;
  min-height: 62px;
  object-fit:contain;
}
.logo-2:hover{
  max-width:200px;
}
/*----END OF DONATIONS----*/
.Merch{
  padding-top: 20px;
}
.merch-general-container{
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.merch-text-column{
  max-width: 250px;
  padding: 15px;
}
.merch-text-column h2{
  text-align: left;
  color: var(--main-yellow);
}
.merch-text-column p{
  text-align: left;
  line-height: normal;
}
.merch-btn{
  border-style: solid;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}
.merch-btn:hover{
  color: var(--main-yellow);
}
.merch-img-column{
  flex: 25%;
  max-width: 25%;
  padding: 0 25px;
  
}
.merch-img-column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}
.merch-img-column img:hover{
  filter: drop-shadow(-5px -5px 10px var(--main-yellow));
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .merch-img-column {
    flex: 100%;
    max-width: 100%;
  }
}
/*SOCIALS*/
.Social-media{
  background-color: var(--main-white);
  min-height: 200px;
  display: flex; /* Make the icons appear in a row */
  flex-direction: column;
  margin-top: 48px;
  padding-bottom: 15px;
  justify-content: center;
}
.title-socials{
  margin-bottom: 10px; /* Spacing between title and content */
  
  color: var(--main-black);
}
.icon-row {
  display: flex; /* Make the icons appear in a row */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.icon-container {
  margin: 0 auto; /* Center the container horizontally */
  max-width: 650px; /* Allow container to adjust based on content width */
  padding: 0 15px;
  min-height: 62px;
}
.icon {
  width: 48px; /* Adjust width based on your icon size */
  height: 48px; /* Adjust height based on your icon size */
  object-fit: contain;
  filter: invert(100%);
}
.icon:hover{
  filter: drop-shadow(-5px -10px 10px var(--main-yellow));
}
/*Social posts row*/
.Social-posts{
  overflow: hidden;
}
.Posts-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  min-height: fit-content;
  max-width: 100%;
  margin:0 auto;
}
.Posts-container img{
  object-fit: contain;
  min-height: 100px;
  display: block;
}
.mission-wrapper{
  display: flex;
  max-width: 80%;
  margin: 15px auto;
  align-items: center;
}
.mission-img-wrapper{
  max-width: 500px;
  min-height: 200px;
}
.mission-text-wrapper{
  flex: 1;
  text-align: center;
}
.mission-text-wrapper h1{
  color: var(--main-yellow);
}
@media(max-width:1100px){
  .mission-wrapper{
    flex-direction: column;
  }
}
.mail-discord-plug{
  background-image: url("images/download.jpg");
  padding: 25px 0;
}
.mail-wrapper-general{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.mail-text-wrapper{
  text-align: center;
  max-width: 80%;
  padding-bottom: 10px;
}
.mail-text-wrapper h1{
  color: var(--main-yellow);
  line-height: normal;
}
.mail-button-wrapper{
  display: flex;
  gap: 40px;
}
.Button-mail{
  border: 3px solid var(--main-white);
  padding: 5px 5px;
}
.Button-mail:hover{
  border: 3px solid var(--main-yellow);
}
/*----------------FOOTER----------------*/
#footer{
  width: 100%;
}
.footer{
  background: var(--main-black);
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-information{
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: center;
}
.footer-logo{
  max-width: 332px;
  min-height: 137px;
  margin-top: 30px;
}
.contact-us-column{
  display:flex;
  Flex-direction: column;
}
.email{
  font-size: 30px;
}
.Links-column{
  flex-grow: .5;
}
.about{
  flex-grow: 1;
}
.Social-links{
  display:flex;
  Flex-direction:column;
}
.about-links{
  display:flex;
  Flex-direction:column;
}
.Social-links,.about-links a{
  font-size: 30px;
}
.copyright-info {
  width: 100%;
  justify-content: center;
  padding-bottom: 16px;
  display: flex;
  box-shadow: 0 -1px #e4ebf3;
}
.links-heading{
  text-decoration: underline;
  text-decoration-color: var(--main-white);
}
@media (max-width:1030px){
  .footer-information{
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .contact-us-column{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Links-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .copyright-text{
    display: flex;
    text-align: center;
  }
  
}